@media (min-width: 0px) and (max-width: 480px) {
    :root {
        --blue-color: #1877f2;
        --white-color: #ffff;
        --cloud-color: #4c9cdc;
        --dark-color: #15476e;
    }   

    html {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #navigation {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        background-color: var(--blue-color);
        padding: 10px 10px 10px 10px;
        position: fixed;
        width: 100%;
        height: 40px;
    }

    .nav-link {
        margin-right: 10px;
    }
    
    #about {
        box-sizing: border-box;
        padding: 50px 20px 20px 20px;
        background-color: var(--white-color);
    }

    .person {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 60px;
    }

    #profile-picture {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    #project {
        background-color: var(--cloud-color);
        width: 100%;
        height: auto;
        padding-top: 10px;
        text-align: center;
    }

    .h1style {
        color: var(--white-color);
    }
    
    .project {
        background-color: var(--blue-color);
        /* padding: 0.5rem; */
        /* height: auto; */
        height: 300px;

        display: flex;
        flex-direction: column;

    }

    .projects-grid {
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        padding: 0.5rem;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

    .project-img {
        width: 100%;
        height: 75%;
    }

    .project-link:hover {
        font-size: large;
        font-weight: bold;
        color: rgb(255, 234, 0);
    }

    #contact {
        background-color: var(--dark-color);
        padding-top: 10px;
        color: var(--white-color);
        text-align: center;
        width: 100%;
        height: 250px;
    }

    #contact p {
        font-size: large;
        font-weight: bold;
    }

}

/* tablet screen */
@media (min-width: 481px) and (max-width: 1024px) {
    :root {
        --blue-color: #1877f2;
        --white-color: #ffff;
        --cloud-color: #4c9cdc;
        --dark-color: #15476e;
    }   

    html {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #navigation {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        background-color: var(--blue-color);
        padding: 10px 10px 10px 10px;
        position: fixed;
        width: 100%;
        height: 40px;
    }

    .nav-link {
        margin-right: 10px;
    }
    
    #about {
        box-sizing: border-box;
        padding: 50px 20px 20px 20px;
        background-color: var(--white-color);
    }

    .person {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 60px;
    }

    #profile-picture {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    #project {
        background-color: var(--cloud-color);
        width: 100%;
        height: auto;
        padding-top: 10px;
        text-align: center;
    }

    .h1style {
        color: var(--white-color);
    }
    
    .project {
        background-color: var(--blue-color);
        /* padding: 0.5rem; */
        height: auto;

    }

    .projects-grid {
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        padding: 0.5rem;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

    .project-img {
        width: 100%;
        height: 75%;
    }

    .project-link:hover {
        font-size: large;
        font-weight: bold;
        color: rgb(255, 234, 0);
    }

    #contact {
        background-color: var(--dark-color);
        padding-top: 10px;
        color: var(--white-color);
        text-align: center;
        width: 100%;
        height: 250px;
    }

    #contact p {
        font-size: large;
        font-weight: bold;
    }

}



/* for larger screens */
@media (min-width: 1025px) and (max-width: 1920px) {
    :root {
        --blue-color: #1877f2;
        --white-color: #ffff;
        --cloud-color: #4c9cdc;
        --dark-color: #15476e;
    }   

    html {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #navigation {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        background-color: var(--blue-color);
        padding: 10px 10px 10px 10px;
        position: fixed;
        width: 100%;
        height: 40px;
    }

    .nav-link {
        margin-right: 10px;
    }
    
    #about {
        box-sizing: border-box;
        padding: 50px 20px 20px 20px;
        background-color: var(--white-color);
    }

    .person {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 60px;
    }

    #profile-picture {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    #project {
        background-color: var(--cloud-color);
        width: 100%;
        height: auto;
        padding-top: 10px;
        text-align: center;
    }

    .h1style {
        color: var(--white-color);
    }
    
    .project {
        background-color: var(--blue-color);
        /* padding: 0.5rem; */
        height: 15rem;

    }

    .projects-grid {
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        padding: 0.5rem;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }

    .project-img {
        width: 100%;
        height: 75%;
    }

    .project-link:hover {
        font-size: large;
        font-weight: bold;
        color: rgb(255, 234, 0);
    }

    #contact {
        background-color: var(--dark-color);
        padding-top: 10px;
        color: var(--white-color);
        text-align: center;
        width: 100%;
        height: 250px;
    }

    #contact p {
        font-size: large;
        font-weight: bold;
    }

}